<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rocket.Q - Perguntas e respostas</title>
    <!-- CSS Uma global e outra especifica -->
    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/room.css">
    <link rel="stylesheet" href="/style/modal.css">

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,500;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div id="room" class="content">
        <header>
            <a href="/"> <!-- / para ir direto para a homepage -->
                <img src="/assets/Logo.svg" alt="Logo">
            </a>

            <div class="buttons">
                <div class="button outlined" id="room-id" data-id="<%= roomId %>">#<%= roomId %>
                    <!-- data-id para cada room -->
                    <img src="/assets/quadrados.svg" alt="numero da sala">
                </div>
                <div>
                    <a href="/create-pass" class="button">
                        <img src="/assets/users 2.svg" alt="criar uma sala">Criar sala
                    </a>
                </div>
            </div>
        </header>

        <main>
            <section id="question-form">
                <h2>Faça sua pergunta</h2>
                <form action="/question/create/<%= roomId %>" method="POST">
                    <label class="sr-only" for-id="question">Oque você quer perguntar?</label>
                    <textarea name="question" id="question" placeholder="Oque você quer perguntar?"></textarea>

                    <footer>
                        <div>
                            <img src="/assets/lock.svg" alt="cadeado">Esta pergunta é anônima
                        </div>
                        <button>Enviar</button>
                    </footer>
                </form>
            </section>

            <section id="questions">
                <h2 class="sr-only">Perguntas da comunidade</h2>
                <div class="questions">

                    <% if(isNoQuestions) { %>
                        <%- include(`parts/noquestion.ejs`) %>

                    <% } %>

                    <% questions.forEach(question => { %>
                        <div class="question-wrapper">
                            <div class="question-content">
                                <div class="user">
                                    <img src="/assets/user-white.svg" alt="avatar">
                                </div>
                                <div class="question">
                                    <p><%= question.title %></p>
                                </div>
                            </div>
                            <div class="actions">
                                <a href="#" class="check" data-id="<%= question.id %>">
                                    <!-- data id para cada sala -->
                                    <img src="/assets/check.svg" alt="check">Marcar como lida
                                </a>
                                <a href="#" class="delete" data-id="<%= question.id %>">
                                    <img src="/assets/trash.svg" alt="delete">Excluir
                                </a>
                            </div>
                        </div>
                   <% }) %>

                  <% questionsRead.forEach(questionRead => { %>
                    <div class="question-wrapper read">
                        <div class="question-content">
                            <div class="user">
                                <img src="/assets/user-white.svg" alt="avatar">
                            </div>
                            <div class="question">
                                <p><%= questionRead.title %></p>
                            </div>
                        </div>
                        <div class="actions">
                            <a href="#" class="delete" data-id="<%= questionRead.id %>">
                                <!-- data id para cada sala -->
                                <img src="/assets/trash.svg" alt="delete">Excluir
                            </a>
                        </div>
                    </div>
                <% }) %>


                </div>
            </section>
        </main>
    </div>

    <!----- MODAL ----->
    <div class="modal-wrapper">
        <div class="modal">
            <h2>Excluir pergunta</h2>
            <p>Tem certeza que deseja excluir esta pergunta?</p>

            <form action="#" method="POST">
                <!-- Url que eu quero que envie e o metodo post da rota -->

                <label class="sr-only" for-id="password">Digite sua senha admin</label>
                <input type="password" id="password" name="password" placeholder="Digite sua senha">
                <!-- precisa ser o mesmo name para colocar na req.body -->

                <div class="buttons">
                    <div class="button grey cancel">Cancelar</div>
                    <button class="red">Sim, excluir</button>
                </div>
            </form>

        </div>
    </div>

    <!-- detalhe*** script para importaçoes defer type="module" -->
    <script src="/scripts/main.js" defer type="module"></script>
</body>

</html>